## Explore fever data

In [5]:
import json
import os
import pandas as pd
import csv

In [6]:
def print_item(item):
    print(json.dumps(item, indent=4))

In [7]:
def load_data(jsonl_file):
    with open(jsonl_file, 'r') as f:
        fever_lst = [json.loads(item) for item in list(f)]
        print(f'{len(fever_lst)} item loaded')
        df = pd.DataFrame.from_records(fever_lst)
    return df

In [11]:
root = "../naacl2018-fever/data/fever-data/"
dev_df = load_data(os.path.join(root, 'dev.jsonl'))
test_df = load_data(os.path.join(root, 'test.jsonl'))

19998 item loaded
19998 item loaded

In [12]:
dev_df.head()

,id,verifiable,label,claim,evidence
0,91198,NOT VERIFIABLE,NOT ENOUGH INFO,Colin Kaepernick became a starting quarterback...,"[[[108548, None, None, None]]]"
1,194462,NOT VERIFIABLE,NOT ENOUGH INFO,Tilda Swinton is a vegan.,"[[[227768, None, None, None]]]"
2,137334,VERIFIABLE,SUPPORTS,Fox 2000 Pictures released the film Soul Food.,"[[[289914, 283015, Soul_Food_-LRB-film-RRB-, 0..."
3,166626,NOT VERIFIABLE,NOT ENOUGH INFO,Anne Rice was born in New Jersey.,"[[[191656, None, None, None], [191657, None, N..."
4,111897,VERIFIABLE,REFUTES,Telemundo is a English-language television net...,"[[[131371, 146144, Telemundo, 0]], [[131371, 1..."

In [13]:
test_df.head()

      id                                              claim
0  89296          Henry Spencer is played by a Greek actor.
1  78554                       John Ritter died in October.
2  83809  13 Reasons Why is the only television series o...
3  49758                             Playboy is a magazine.
4  22973  Alternative metal is the genre in which Alice ...

In [14]:
root = "../Data/FEVER/"
dev_df = load_data(os.path.join(root, 'paper_dev.jsonl'))
test_df = load_data(os.path.join(root, 'paper_test.jsonl'))

9999 item loaded
9999 item loaded

In [15]:
dev_df.head()

,id,verifiable,label,claim,evidence
0,91198,NOT VERIFIABLE,NOT ENOUGH INFO,Colin Kaepernick became a starting quarterback...,"[[[108548, None, None, None]]]"
1,194462,NOT VERIFIABLE,NOT ENOUGH INFO,Tilda Swinton is a vegan.,"[[[227768, None, None, None]]]"
2,137334,VERIFIABLE,SUPPORTS,Fox 2000 Pictures released the film Soul Food.,"[[[289914, 283015, Soul_Food_-LRB-film-RRB-, 0..."
3,166626,NOT VERIFIABLE,NOT ENOUGH INFO,Anne Rice was born in New Jersey.,"[[[191656, None, None, None], [191657, None, N..."
4,111897,VERIFIABLE,REFUTES,Telemundo is a English-language television net...,"[[[131371, 146144, Telemundo, 0]], [[131371, 1..."

In [16]:
test_df.head()

,id,verifiable,label,claim,evidence
0,113501,NOT VERIFIABLE,NOT ENOUGH INFO,Grease had bad reviews.,"[[[133128, None, None, None]]]"
1,163803,VERIFIABLE,SUPPORTS,Ukrainian Soviet Socialist Republic was a foun...,"[[[296950, 288668, Ukrainian_Soviet_Socialist_..."
2,70041,VERIFIABLE,SUPPORTS,2 Hearts is a musical composition by Minogue.,"[[[225394, 230056, 2_Hearts_-LRB-Kylie_Minogue..."
3,202314,VERIFIABLE,REFUTES,The New Jersey Turnpike has zero shoulders.,"[[[238335, 240393, New_Jersey_Turnpike, 15]]]"
4,57085,NOT VERIFIABLE,NOT ENOUGH INFO,Legendary Entertainment is the owner of Wanda ...,"[[[178035, None, None, None], [182093, None, N..."

In [30]:
root = "../naacl2018-fever/data/fever/"
df = load_data(os.path.join(root, 'dev.ns.rand.jsonl'))

19998 item loaded